body {
  margin: 0;
  padding: 0;
  font: 16px/1.6, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  color: #444;
  background-image: url('/src/icons/bg.png');
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #111;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  /* padding: 30px 100px; */
}
.ant-spin-container .ant-btn {
  background: #fe771d;
  color: #fff;
  border: 1px solid transparent;
  font-size: 16px;
  text-transform: uppercase;
  min-height: 50px;
  line-height: 1.5;
  height: auto;
  text-align: center;
  padding: 12px 30px;
}
.ant-spin-container .ant-btn:hover {
  background: #fe6b0a;
  color: #fff;
  border: 1px solid transparent;
  font-size: 16px;
  text-transform: uppercase;
  min-height: 50px;
  line-height: 1.5;
  height: auto;
  text-align: center;
  padding: 12px 30px;
}
.ant-spin-container .ant-btn:focus {
  background: #fe6b0a;
  color: #fff;
  border: 1px solid transparent;
  font-size: 16px;
  text-transform: uppercase;
  min-height: 50px;
  line-height: 1.5;
  height: auto;
  text-align: center;
  padding: 12px 30px;
}
.ant-btn {
  background: #fe6b0a;
}

.ant-btn.ant-btn-primary {
  background: #fe771d;
  border: none;
}
.ant-btn.ant-btn-primary:hover {
  background: #fe6b0a;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
